<%- include('../partials/header') %>
<div class="row">
    <div class="col-md-8 mt-4">
        <div id="profile">
            <div>
                <h2><%=profile.username%></h2>
                <h4><%=profile.firstName%>  <%=profile.lastName%></h4>
            </div> 
            <p>
                <%=profile.bio%>
            </p>
           <p><a href="mailto:<%=profile.email%>"> <%=profile.email%> </a></p>
        </div>
    </div>
    <div class="col-md-4 mt-4">
        <div >
            <img id="imgprofile" src="<%= profile.avatar%>">
        </div>
    </div>
</div>

<div id="name" class="row mt-4">
    <div class="pt-1 pb-1" >
        <h3><%=profile.username%>'s Campgrounds</h3>
    </div>
</div>

<div class="container">
   <div class="row text-centre mt-4" >  
        <% camp.forEach(function(camp){ %>
        <div class="col-md-3 col-sm-6">
            <div class="img-thumbnail mt-4">
                <div class="campimage" style="background-image: url(<%=camp.image%>);"></div>
                <div style="text-align:center; padding:2px" class="caption">
                    <h4><%=camp.name.substr(0,15)%></h4>
                    <a href="/campground/<%=camp._id%>" class="btn btn-primary mb-2">More Info</a>
                </div>
            </div>    
        </div>
        <% });%>
    </div> 
</div>


    
<%- include('../partials/footer') %>