<%- include ('../partials/header')%>

<div class="container">
    <header class="jumbotron campimage" style="background-image:url(https://images.pexels.com/photos/158672/fog-forest-mountain-world-clouds-158672.jpeg); height: 100%;">
        <div class="conatiner">
           <h1><i class="fa fa-angellist mr-2"></i>Welcome to Yelp Camp!!!</h1> 
           <p>The best place for Camping Lovers!!</p>
           <p>
               <a class="btn btn-large moreinfo" href="/campground/new">Add New Campground</a>
           </p>
        </div> 
    </header>
  <!-- fuzzy search -->
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <div class="col-md-12">
            <% if(noMatch !== null) { %>
            <h3><%= noMatch %></h3>
            <p>
               <form action="/campground" method="GET" class="form-inline">
                   <div class="form-group">
                       <input type="text" name="search" placeholder="Campground search..." class="form-control">
                       <input type="submit" value="Search" class="btn btn-default">
                   </div>
               </form>
           </p>
            <% } %>
        </div>
    </div>
    <!--style="display:flex; flex-wrap:wrap;"-->
    <div class="row text-center" >  
        <% campg.forEach(function(camp){ %>
        <div class="col-md-3 col-sm-6">
            <div class="img-thumbnail mt-4">
                <div class="campimage" style="background-image: url(<%=camp.image%>);"></div>
                <!-- <img style="width:100% " src=" <%=camp.image%>" > -->
                <div class="caption">
                    <h4><%=camp.name.substr(0,15)%></h4>
                    <a href="/campground/<%=camp._id%>" class="btn moreinfo mb-2">More Info</a>
                </div>
            </div>    
        </div>
        <% });%>
    </div>



</div>
<%- include ('../partials/footer')%>
